DATABASE_URL="file:./dev.db"

ADMIN_PASSWORD="kuchli-parol"
ADMIN_SESSION_SECRET="tasodifiy-uzun-satr"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_ORDER_CHAT_ID=""
TELEGRAM_WEBHOOK_SECRET=""
TELEGRAM_SUPPORT=""

NEXT_PUBLIC_SITE_URL="https://sizning-domeningiz.uz"
NEXT_PUBLIC_SHOP_PHONE="+998 90 123 45 67"
